<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>Сайт с прогнозом погоды</h1>
<form method="post">
  <input type="text" name="city" placeholder="Введите город" required>
  <button type="submit">Узнать погоду</button>
</form>

<div class="result">
  {% if weather %}
    <h3>Погода в {{weather['name']}}</h3>
    <p>Температура: {{ weather['main']['temp'] }}</p>
    <p>Погода: {{ weather['weather'][0]['description'] }}</p>
  {%endif%}
</div>

</body>
</html>